#header {
    width: 100%;
    height: 300px;
    z-index: 9;
}

html {
    scroll-behavior: smooth;

}

.links {
    float: left;
    color: darkgoldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 900;

}

.links:hover {
    font-size: 25px;
    text-shadow: 2px 2px black;
    background-color: #f1b4b3;
    text-decoration: underline;
}

#collection {
    z-index: 8;

}

body {
    margin: 0;
    text-align: center;

}

#logo {
    border-radius: 1%;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 300px;
    width: 100%;
}


h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'parisienne', cursive;

}

.line {
    background-color: #000;
    height: 3px;
    width: 50px;
    margin: 8px auto;
}

#collection img {
    height: 500px !important;
}

#aboutus p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #f1b4b3;

}

p {
    color: dimgrey;
    font-style: italic;
    font-family: cursive;
    background-color: beige;


}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.container {
    background-color: #f1b4b3;
    border-color: #f1b4b3;
    background-blend-mode: soft-light;

}
